<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @car.Make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.Model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.Year %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
